[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mal-api = "*"
requests = "*"
notion-client = "*"
pydantic = "*"
simple-term-menu = "*"
fire = "*"
tqdm = "*"
colorama = "*"

[dev-packages]
black = "*"
pyright = "*"
isort = "*"
pytest = "*"
flake8-pyproject = "*"
pytest-mock = "*"

[requires]
# myanimelist api requires python 3.10
python_version = "3.10"

[scripts]
give = "python main.py give"
update = "python main.py update"
fmt = "bash -c 'black . && isort .'"
lint = "bash -c 'black --check . && isort --diff --check-only . && flake8 . && pyright'"
