[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mal-api = "*"
requests = "*"
notion-client = "*"
pydantic = "*"
simple-term-menu = "*"
fire = "*"
tqdm = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
notion-update = "python apps/give_mal_info.py"
